{% extends "layout.njk" %}

        {% block head %}

        <title>Desafio 2-2 | About</title>
        <script src="https://kit.fontawesome.com/ecc011f1dd.js"></script>
        
        {% endblock %}


        {% block content %}

        <div class="container-empresa">
            <div class="empresa-imagem">
                <img src="/imagens/rocketseat.png" alt="Rocketseat">
            </div>

            <div class="descricao">
                <h1>Rocketseat</h1>

                <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>

                <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, 
                você precisa de alguém que te leve na direção certa.</p>

                <h3>Principais tecnologias utilizadas</h3>

                <ul>
                    <li>Javascript</li>
                    <li>Javascript ES6</li>
                    <li>NodeJS</li>
                    <li>ReactJS</li>
                    <li>React Native</li>
                </ul>
            </div>

            <div class="redes-sociais">
                <a href="https://www.facebook.com/rocketseat/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/school/rocketseat/about/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/rocketseat"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/Rocketseat"><i class="fab fa-github"></i></a>
            </div>
        </div>

        {% endblock %}

