{% extends "layout.njk" %}

        {% block head %}

        <title>Desafio 2-3 | Courses</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% endblock %}

        {% block content %}

        <section class="cursos">
            <div class="container-cursos" id="starter">
                <!--aqui vai uma imagem dos cursos-->
                <div class="curso">
                    <div class="curso-number">
                        <img src="/imagens/icons8-1-48.png">
                    </div>
                    <div class="curso-img">
                        <img src="/imagens/starter.svg" alt="starter" class="img-starter">
                    </div>

                    <div class="curso-content">
                        <p class="starter">Torne-se um programador desejado</p>
                        <p>no mercado de trabalho com esses cursos gratuitos</p>
                    </div>
                </div>
            </div>

            <div class="container-cursos" id="launchbase">
                <!--aqui vai uma imagem dos cursos-->
                <div class="curso">
                    <div class="curso-number">
                        <img src="/imagens/icons8-2-48.png">
                    </div>
                    <div class="curso-img">
                        <img src="/imagens/launch.svg" alt="launch" class="img-launch">
                    </div>

                    <div class="curso-content">
                        <p class="launch">Domine a programação do Zero</p>
                        <p>e tenha acesso ás melhores oportunidades do mercado</p>
                    </div>
                </div>
            </div>

            <div class="container-cursos" id="gostack">
                <!--aqui vai uma imagem dos cursos-->
                <div class="curso">
                    <div class="curso-number">
                        <img src="/imagens/icons8-3-48.png">
                    </div>
                    <div class="curso-img">
                        <img src="/imagens/gostack.svg" alt="gostack" class="img-gostack">
                    </div>

                    <div class="curso-content">
                        <p class="gostack">Treinamento imersivo</p>
                        <p>nas tecnologias mais modernas de desenvolvimento web e mobile</p>
                    </div>
                </div>
            </div>
        </section>

        <!--MODAL-->
        <div class="modal-overlay">
            <div class="modal">
                <a class="maximize-modal">
                    <i class="material-icons">
                        web_asset
                    </i>
                </a>
                <a class="close-modal">
                    <i class="material-icons">
                        close
                    </i>
                </a>

                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>

        <script src="scripts.js"></script>

        {% endblock %}
