{% extends "layout.njk" %}

{%block head%}
    <title>Desafio 2-1 | Home</title>
{%endblock%}

{% block content%}
    <div class="container">
        <!--aqui vai uma imagem como background-->
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <a href="https://github.com/NatanaelSaymon" target="_blank">LaunchBase - Natanael Saymon</a>
    </footer>
{% endblock %}
