/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variaveis*/
:root{
    --color-principal: #100F12;
    --color-footer: #595959;
    --color-text: #ffffff;
    --color-efeito: #6C4FBB;
}

/*font google*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: var(--color-principal);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.links{
    text-align: center;
    padding: 30px;
}

.links a{
    text-decoration: none;
    color: var(--color-text);
    margin-right: 30px;
}

a:hover{
    color: var(--color-efeito);
    font-weight: bold;
    transition: color 600ms;
}

header, .links, a:last-child{
    margin-right: 0px;
}

.container{
    min-height: 84vh;
    background-image: url('/imagens/background-code.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    /* border-top: 1px solid var(--color-footer); */
    padding-top: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--color-text);
    margin-right: 30px;
}

/*=== Style Pag Empresa ===*/
.container-empresa{
    min-height: 84vh;
    text-align: center;
}

.container-empresa h1{
    color: var(--color-efeito);
    font-size: 40px;
}

.container-empresa img{
    border-radius: 10px;
    border: 5px solid var(--color-efeito);
    margin: 30px 0;
}

h1, h3{
    margin-bottom: 10px;
}

p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.redes-sociais{
    margin-top: 20px;
}

.redes-sociais a{
    color: var(--color-text);
    font-size: 20px;
    margin: 10px;
}

.redes-sociais a:hover{
    color: var(--color-efeito);
    transition: color 600ms;
}

/*=== Style Pag Conteudo ===*/
.cursos{
    max-width: 1400px;
    min-height: 84vh;
    margin: 0 auto; /*para centralizar*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.container-cursos{
    background-image: url('../imagens/back.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.curso-number{
    margin: 70px 0;
}

.curso-img{
    margin-bottom: 50px;
}

.img-starter, .img-gostack{
    width: 120px; 
    height: 120px;
}

.img-launch{
    width: 212px; 
    height: 133px;
    margin-top: -14px;
}

/*Cor de cada classe*/
.starter{
    font-weight: bold;
    color: var(--color-efeito);
}
.launch{
    font-weight: bold;
    color: #FD951F;
}
.gostack{
    font-weight: bold;
    color: #04D361;
}

/*Efeito hover*/
#starter:hover{
    border: 2px solid var(--color-efeito);
}
#launchbase:hover{
    border: 2px solid #FD951F;
}
#gostack:hover{
    border: 2px solid #04D361;
}

.curso-img img{
    width: 100%; /*imagem respeita o tamanho do pai: 800px*/
}

/*=== MODAL ===*/
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    opacity: 0; /*deixa transparente*/
    visibility: hidden; /*fica escondido*/
}

.modal{
    position: relative;
    background-color: #ffffff;
    width: 70%;
    height: 70%;
    margin: 5vh auto;
}

.active-maximize{
    position: relative;
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
}

.modal .close-modal{
    position: absolute;
    color: #100F12;
    right: 8px;
    top: 3px;
    cursor: pointer;
}

.modal .maximize-modal{
    position: absolute;
    color: #100F12;
    right: 40px;
    top: 3px;
    cursor: pointer;
}

/*=== MODAL ACTIVE ===*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 100%;
    height: 90%;
    top: 5%;
    position: absolute;
}